.card {
  background: rgba(103, 103, 103, 0.42);
  border-radius: 2px;
  height: 250px;
  padding-top: 5px;
  margin: 1rem;
  position: relative;
  width: 250px;
  box-shadow: 0 3px 6px rgba(60, 60, 60, 0.69), 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:rgba(111, 111, 111, 0.06);
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

/* .card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
} */

.card > .remove:hover {
  color: #d50000;
}
